body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    margin: 2em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}
